.my-page{

    .skills-and-school{
        margin-top: 30px;
        .container{
            flex-direction: column;

            .attribute{
                margin-top: 15px;
                margin-bottom: 55px;
                
                .title{
                    text-align: left;
                }
            }
        }
    }
    
    .table{
        .container{
            flex-direction: row;
        }
    }
    .experiences{
        margin-top: 0;
    }
    .projects{
        margin-top: 30px;
    }
}